# Application configuration
APP_NAME="My Application"
APP_TIMEZONE=UTC
APP_ENV=production
APP_DEBUG=false

#Log configuration
LOG_LEVEL=error
LOG_MAX_FILES=14
LOG_DB_QUERIES=false
LOG_VALIDATION_DATA=true

# Database configuration
DB_DRIVER=mysql
DB_HOST=concept_db
DB_PORT=3306
DB_DATABASE=concept_db
DB_USERNAME=root
DB_PASSWORD=root_password
