services:
  app:
    build: .
    container_name: concept_skeleton
    user: "${UID:-1000}:${GID:-1000}"
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/apache/vhost.conf:/etc/apache2/sites-available/000-default.conf
      - ./docker/php/error-reporting.ini:/usr/local/etc/php/conf.d/error-reporting.ini
    environment:
      - MYSQL_HOST=db
    depends_on:
      - db

  db:
    image: mysql:8.4
    command: --mysql-native-password=ON
    container_name: concept_skeleton_db
    restart: always
    environment:
      MYSQL_DATABASE: concept_skeleton_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"